<mat-card style="max-width: 200pt; margin-top: 10%; margin-left: 40%; ">
    <mat-card-content>
        <p>Have an account?</p>
        <br>
        <button mat-button mat-raised-button color="primary" routerLink="/login">Login</button>
        <p>Not registered yet?</p>
        
        <button mat-button mat-raised-button  style="margin-right: 5px;" color="primary" routerLink="/register/1" >Personal</button>
        <button mat-button mat-raised-button color="primary" routerLink="/register/2">Business</button>

    </mat-card-content>

</mat-card>