<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
  crossorigin="anonymous">
<br>
<button mat-button routerLink='/new-project' routerLinkActive="router-link-active" style="margin:0 auto; display:block;"
  class="btn btn-primary">Add New Project</button>
<br>
<mat-divider></mat-divider>
<br>
<br>
<mat-card>
  <mat-card-title>
    <h5><b>Previous Projects:</b></h5>
  </mat-card-title>
  <mat-card-content>
    <div *ngIf="authService.idExists">
    <div *ngFor="let proj of apiService.projects">
      <mat-card style="box-shadow: 2px 2px 3px #aaaaaa; padding-bottom: 10px; margin: 5px;">
        <mat-card-header>
          <img mat-card-avatar src='../../assets/images/{{apiService.pathImage}}'>
          <mat-card-title>
            <h6><B>{{proj?.name}}</B></h6>
          </mat-card-title>
          <mat-card-subtitle>
            <h6><i>Category</i>: {{proj?.projectType}} | <i>Date</i>: {{proj?.startDate}}.</h6>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p><i>{{proj?.about}}</i></p>
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-actions>
          <button [routerLink]="['/view-project', proj._id]" mat-button style="margin-left: 90%;" class="btn btn-primary">view more</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  </mat-card-content>
</mat-card>